@charset "ISO-8859-1";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.cabecalho{
    width: 80%;
    margin: auto;
}

.cabecalho p{
    color: white;
}

.cabecalho-titulo,h2{
    margin: 50px auto;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px red; 
}

ul{
    margin: 0;
    padding: 0;
}

.nav-agenda{
    text-align: center;
    width: 35%;
    margin: auto;
}

.nav-agenda ul li {
    list-style: none;
    border: 1px solid white;
    margin-bottom: 20px;
}

nav a{
    background:rgba(230, 29, 29, 0.3);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
  }

  nav a:hover {
    background: rgba(0, 0, 0,0.5);
  }

